
//Color Scheme
$color-white: #FFF;
$color-Platinum: #E6E7E7;
$color-Light-gray: #D1D1D1;
$color-Eerie-black: #121619;
$color-onyx: #222323;
$color-Raisin-black: #222323;
$colot-gray: #707070;
$color-Nickel: #6C6E70;
$color-Fuzzy-Wuzzy: #E56353;
$color-Ruddy-pink: #D76C69;
$color-Spanish-pink: #ECBCBA;

//Font Size
$fz-xx-large: 70px;
$fz-x-large :40px;
$fz-large: 18px;
$fz-medium: 16px;
$fz-small: 12px;